In [35]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("Data Folder/bigml_59c28831336c6604c800002a.csv", encoding='utf-8', index_col=0)

In [36]:
# Check column names (features)
print("Column names:")
print(df.columns.tolist())

# Basic info about the dataset
print("\nDataset info:")
print(df.info())

# Shape of the dataset (rows, columns)
print(f"\nDataset shape: {df.shape}")

# First few rows
print("\nFirst 5 rows:")
print(df.head())

Column names:
['account length', 'area code', 'phone number', 'international plan', 'voice mail plan', 'number vmail messages', 'total day minutes', 'total day calls', 'total day charge', 'total eve minutes', 'total eve calls', 'total eve charge', 'total night minutes', 'total night calls', 'total night charge', 'total intl minutes', 'total intl calls', 'total intl charge', 'customer service calls', 'churn']

Dataset info:
<class 'pandas.core.frame.DataFrame'>
Index: 3333 entries, KS to TN
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   account length          3333 non-null   int64
 1   area code               3333 non-null   int64
 2   phone number            3333 non-null   object
 3   international plan      3333 non-null   object
 4   voice mail plan         3333 non-null   object
 5   number vmail messages   3333 non-null   int64
 6   total day minutes       3333 non-null   float64
 7   total day calls         3333 non-null   int64
 8   total day charge        3333 non-null   float64
 9   total eve minutes       3333 non-null   float64
 10  total eve calls         3333 non-null   int64
 11  total eve charge        3333 non-null   float64
 12  total night minutes     3333 non-null   float64
 13  total night calls       3333 non-null   int64
 14  total night charge      3333 non-null   float64
 15  total intl minutes      3333 non-null   float64
 16  total intl calls        3333 non-null   int64
 17  total intl charge       3333 non-null   float64
 18  customer service calls  3333 non-null   int64
 19  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 524.0+ KB
None

Dataset shape: (3333, 20)

First 5 rows:
       account length  area code phone number international plan  \
state
KS                128        415     382-4657                 no
OH                107        415     371-7191                 no
NJ                137        415     358-1921                 no
OH                 84        408     375-9999                yes
OK                 75        415     330-6626                yes

      voice mail plan  number vmail messages  total day minutes  \
state
KS                yes                     25              265.1
OH                yes                     26              161.6
NJ                 no                      0              243.4
OH                 no                      0              299.4
OK                 no                      0              166.7

       total day calls  total day charge  total eve minutes  total eve calls  \
state
KS                 110             45.07              197.4               99
OH                 123             27.47              195.5              103
NJ                 114             41.38              121.2              110
OH                  71             50.90               61.9               88
OK                 113             28.34              148.3              122

       total eve charge  total night minutes  total night calls  \
state
KS                16.78                244.7                 91
OH                16.62                254.4                103
NJ                10.30                162.6                104
OH                 5.26                196.9                 89
OK                12.61                186.9                121

       total night charge  total intl minutes  total intl calls  \
state
KS                  11.01                10.0                 3
OH                  11.45                13.7                 3
NJ                   7.32                12.2                 5
OH                   8.86                 6.6                 7
OK                   8.41                10.1                 3

       total intl charge  customer service calls  churn
state
KS                  2.70                       1  False
OH                  3.70                       1  False
NJ                  3.29                       0  False
OH                  1.78                       2  False
OK                  2.73                       3  False

In [37]:
features = ['account length', 'total day minutes', 'total day calls', 'total day charge',
           'total eve minutes', 'total eve calls', 'total eve charge',
           'total night minutes', 'total night calls', 'total night charge',
           'total intl minutes', 'total intl calls', 'total intl charge',
           'customer service calls', 'number vmail messages']
df = df[features + ['churn']].copy()
df.dropna(inplace=True)
df.head()

,account length,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,number vmail messages,churn
state,,,,,,,,,,,,,,,,
KS,128,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,25,False
OH,107,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,26,False
NJ,137,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0,False
OH,84,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0,False
OK,75,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0,False